In [1]:
import pandas as pd

gitCloudRepo='https://github.com/PUBPOL-542/D1/raw/main/'
fileName="king20.xlsx"

DFexcel1=pd.read_excel(gitCloudRepo + fileName)

DFexcel1

,year,sample,serial,cbserial,hhwt,cluster,statefip,countyfip,metro,strata,gq,ownershp,costgas,hhincome,costelec
0,2020,2020 acs,1127717,2020010000037,13,2020011277171,washington,33,in metropolitan area: in central/principal city,1160253,group quarters--institutions,NaN,0,9999999,0
1,2020,2020 acs,1127719,2020010000124,6,2020011277191,washington,33,in metropolitan area: central/principal city s...,1160853,group quarters--institutions,NaN,0,9999999,0
2,2020,2020 acs,1127721,2020010000206,45,2020011277211,washington,33,in metropolitan area: in central/principal city,1160253,other group quarters,NaN,0,9999999,0
3,2020,2020 acs,1127724,2020010000435,69,2020011277241,washington,33,in metropolitan area: central/principal city s...,1161353,group quarters--institutions,NaN,0,9999999,0
4,2020,2020 acs,1127731,2020010000643,8,2020011277311,washington,33,in metropolitan area: not in central/principal...,1160653,other group quarters,NaN,0,9999999,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18135,2020,2020 acs,1156307,2020001135722,84,2020011563071,washington,33,in metropolitan area: central/principal city s...,1160953,households under 1970 definition,owned or being bought (loan),9992,441900,3120
18136,2020,2020 acs,1156307,2020001135722,84,2020011563071,washington,33,in metropolitan area: central/principal city s...,1160953,households under 1970 definition,owned or being bought (loan),9992,441900,3120
18137,2020,2020 acs,1156307,2020001135722,84,2020011563071,washington,33,in metropolitan area: central/principal city s...,1160953,households under 1970 definition,owned or being bought (loan),9992,441900,3120
18138,2020,2020 acs,1156307,2020001135722,84,2020011563071,washington,33,in metropolitan area: central/principal city s...,1160953,households under 1970 definition,owned or being bought (loan),9992,441900,3120
18139,2020,2020 acs,1156307,2020001135722,84,2020011563071,washington,33,in metropolitan area: central/principal city s...,1160953,households under 1970 definition,owned or being bought (loan),9992,441900,3120

In [3]:
gitCloudRepo='https://github.com/PUBPOL-542/D1/raw/main/'
fileName="king19.xlsx"

DFexcel2=pd.read_excel(gitCloudRepo + fileName)

DFexcel2

,year,sample,serial,cbserial,hhwt,cluster,statefip,countyfip,metro,strata,gq,ownershp,costgas,hhincome,costelec
0,2019,2019 acs,1355968,2019010000084,71,2019013559681,washington,33,in metropolitan area: central/principal city s...,1161453,group quarters--institutions,NaN,0,9999999,0
1,2019,2019 acs,1355969,2019010000106,20,2019013559691,washington,33,in metropolitan area: in central/principal city,1160553,other group quarters,NaN,0,9999999,0
2,2019,2019 acs,1355971,2019010000181,142,2019013559711,washington,33,in metropolitan area: in central/principal city,1160253,other group quarters,NaN,0,9999999,0
3,2019,2019 acs,1355977,2019010000443,8,2019013559771,washington,33,in metropolitan area: not in central/principal...,1160653,group quarters--institutions,NaN,0,9999999,0
4,2019,2019 acs,1355978,2019010000502,159,2019013559781,washington,33,in metropolitan area: in central/principal city,1160253,other group quarters,NaN,0,9999999,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20762,2019,2019 acs,1389490,2019001412011,401,2019013894901,washington,33,in metropolitan area: central/principal city s...,1161053,households under 1970 definition,owned or being bought (loan),360,138000,1080
20763,2019,2019 acs,1389490,2019001412011,401,2019013894901,washington,33,in metropolitan area: central/principal city s...,1161053,households under 1970 definition,owned or being bought (loan),360,138000,1080
20764,2019,2019 acs,1389490,2019001412011,401,2019013894901,washington,33,in metropolitan area: central/principal city s...,1161053,households under 1970 definition,owned or being bought (loan),360,138000,1080
20765,2019,2019 acs,1389501,2019001412331,72,2019013895011,washington,33,in metropolitan area: central/principal city s...,1161553,households under 1970 definition,owned or being bought (loan),9993,90000,2400
20766,2019,2019 acs,1389501,2019001412331,72,2019013895011,washington,33,in metropolitan area: central/principal city s...,1161553,households under 1970 definition,owned or being bought (loan),9993,90000,2400

In [4]:
gitCloudRepo='https://github.com/PUBPOL-542/D1/raw/main/'
fileName="king21.xlsx"

DFexcel3=pd.read_excel(gitCloudRepo + fileName)

DFexcel3

,year,sample,serial,cbserial,hhwt,cluster,statefip,countyfip,metro,strata,gq,ownershp,costgas,hhincome,costelec
0,2021,2021 acs,1368635,2021010000165,63,2021013686351,washington,33,in metropolitan area: in central/principal city,1160453,other group quarters,NaN,0,9999999,0
1,2021,2021 acs,1368637,2021010000240,50,2021013686371,washington,33,in metropolitan area: central/principal city s...,1161453,group quarters--institutions,NaN,0,9999999,0
2,2021,2021 acs,1368641,2021010000426,14,2021013686411,washington,33,in metropolitan area: central/principal city s...,1160953,other group quarters,NaN,0,9999999,0
3,2021,2021 acs,1368644,2021010000656,40,2021013686441,washington,33,in metropolitan area: central/principal city s...,1160853,group quarters--institutions,NaN,0,9999999,0
4,2021,2021 acs,1368645,2021010000831,45,2021013686451,washington,33,in metropolitan area: in central/principal city,1160353,group quarters--institutions,NaN,0,9999999,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21501,2021,2021 acs,1402566,2021001415405,68,2021014025661,washington,33,in metropolitan area: not in central/principal...,1161253,households under 1970 definition,owned or being bought (loan),1560,196000,1560
21502,2021,2021 acs,1402567,2021001415463,82,2021014025671,washington,33,in metropolitan area: central/principal city s...,1161053,households under 1970 definition,owned or being bought (loan),9992,93000,1680
21503,2021,2021 acs,1402571,2021001415649,63,2021014025711,washington,33,in metropolitan area: central/principal city s...,1161453,households under 1970 definition,owned or being bought (loan),600,201800,2400
21504,2021,2021 acs,1402571,2021001415649,63,2021014025711,washington,33,in metropolitan area: central/principal city s...,1161453,households under 1970 definition,owned or being bought (loan),600,201800,2400
21505,2021,2021 acs,1402571,2021001415649,63,2021014025711,washington,33,in metropolitan area: central/principal city s...,1161453,households under 1970 definition,owned or being bought (loan),600,201800,2400

In [5]:
DFexcel1.columns

Index(['year', 'sample', 'serial', 'cbserial', 'hhwt', 'cluster', 'statefip',
       'countyfip', 'metro', 'strata', 'gq', 'ownershp', 'costgas', 'hhincome',
       'costelec'],
      dtype='object')

In [69]:
bye=[1,10]
DFexcel1.drop(columns=DFexcel1.columns[bye],inplace=True)
DFexcel1

,year,serial,cbserial,hhwt,cluster,statefip,countyfip,metro,strata,ownershp,costgas,hhincome,costelec
0,2020,1127717,2020010000037,13,2020011277171,washington,33,in metropolitan area: in central/principal city,1160253,NaN,0,9999999,0
1,2020,1127719,2020010000124,6,2020011277191,washington,33,in metropolitan area: central/principal city s...,1160853,NaN,0,9999999,0
2,2020,1127721,2020010000206,45,2020011277211,washington,33,in metropolitan area: in central/principal city,1160253,NaN,0,9999999,0
3,2020,1127724,2020010000435,69,2020011277241,washington,33,in metropolitan area: central/principal city s...,1161353,NaN,0,9999999,0
4,2020,1127731,2020010000643,8,2020011277311,washington,33,in metropolitan area: not in central/principal...,1160653,NaN,0,9999999,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18135,2020,1156307,2020001135722,84,2020011563071,washington,33,in metropolitan area: central/principal city s...,1160953,owned or being bought (loan),9992,441900,3120
18136,2020,1156307,2020001135722,84,2020011563071,washington,33,in metropolitan area: central/principal city s...,1160953,owned or being bought (loan),9992,441900,3120
18137,2020,1156307,2020001135722,84,2020011563071,washington,33,in metropolitan area: central/principal city s...,1160953,owned or being bought (loan),9992,441900,3120
18138,2020,1156307,2020001135722,84,2020011563071,washington,33,in metropolitan area: central/principal city s...,1160953,owned or being bought (loan),9992,441900,3120
18139,2020,1156307,2020001135722,84,2020011563071,washington,33,in metropolitan area: central/principal city s...,1160953,owned or being bought (loan),9992,441900,3120

In [6]:
bye=[1,10]
DFexcel2.drop(columns=DFexcel2.columns[bye],inplace=True)
DFexcel2

,year,serial,cbserial,hhwt,cluster,statefip,countyfip,metro,strata,ownershp,costgas,hhincome,costelec
0,2019,1355968,2019010000084,71,2019013559681,washington,33,in metropolitan area: central/principal city s...,1161453,NaN,0,9999999,0
1,2019,1355969,2019010000106,20,2019013559691,washington,33,in metropolitan area: in central/principal city,1160553,NaN,0,9999999,0
2,2019,1355971,2019010000181,142,2019013559711,washington,33,in metropolitan area: in central/principal city,1160253,NaN,0,9999999,0
3,2019,1355977,2019010000443,8,2019013559771,washington,33,in metropolitan area: not in central/principal...,1160653,NaN,0,9999999,0
4,2019,1355978,2019010000502,159,2019013559781,washington,33,in metropolitan area: in central/principal city,1160253,NaN,0,9999999,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20762,2019,1389490,2019001412011,401,2019013894901,washington,33,in metropolitan area: central/principal city s...,1161053,owned or being bought (loan),360,138000,1080
20763,2019,1389490,2019001412011,401,2019013894901,washington,33,in metropolitan area: central/principal city s...,1161053,owned or being bought (loan),360,138000,1080
20764,2019,1389490,2019001412011,401,2019013894901,washington,33,in metropolitan area: central/principal city s...,1161053,owned or being bought (loan),360,138000,1080
20765,2019,1389501,2019001412331,72,2019013895011,washington,33,in metropolitan area: central/principal city s...,1161553,owned or being bought (loan),9993,90000,2400
20766,2019,1389501,2019001412331,72,2019013895011,washington,33,in metropolitan area: central/principal city s...,1161553,owned or being bought (loan),9993,90000,2400

In [7]:
bye=[1,10]
DFexcel3.drop(columns=DFexcel3.columns[bye],inplace=True)
DFexcel3

,year,serial,cbserial,hhwt,cluster,statefip,countyfip,metro,strata,ownershp,costgas,hhincome,costelec
0,2021,1368635,2021010000165,63,2021013686351,washington,33,in metropolitan area: in central/principal city,1160453,NaN,0,9999999,0
1,2021,1368637,2021010000240,50,2021013686371,washington,33,in metropolitan area: central/principal city s...,1161453,NaN,0,9999999,0
2,2021,1368641,2021010000426,14,2021013686411,washington,33,in metropolitan area: central/principal city s...,1160953,NaN,0,9999999,0
3,2021,1368644,2021010000656,40,2021013686441,washington,33,in metropolitan area: central/principal city s...,1160853,NaN,0,9999999,0
4,2021,1368645,2021010000831,45,2021013686451,washington,33,in metropolitan area: in central/principal city,1160353,NaN,0,9999999,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21501,2021,1402566,2021001415405,68,2021014025661,washington,33,in metropolitan area: not in central/principal...,1161253,owned or being bought (loan),1560,196000,1560
21502,2021,1402567,2021001415463,82,2021014025671,washington,33,in metropolitan area: central/principal city s...,1161053,owned or being bought (loan),9992,93000,1680
21503,2021,1402571,2021001415649,63,2021014025711,washington,33,in metropolitan area: central/principal city s...,1161453,owned or being bought (loan),600,201800,2400
21504,2021,1402571,2021001415649,63,2021014025711,washington,33,in metropolitan area: central/principal city s...,1161453,owned or being bought (loan),600,201800,2400
21505,2021,1402571,2021001415649,63,2021014025711,washington,33,in metropolitan area: central/principal city s...,1161453,owned or being bought (loan),600,201800,2400

In [8]:
print(DFexcel1)

       year    sample   serial       cbserial  hhwt        cluster  \
0      2020  2020 acs  1127717  2020010000037    13  2020011277171
1      2020  2020 acs  1127719  2020010000124     6  2020011277191
2      2020  2020 acs  1127721  2020010000206    45  2020011277211
3      2020  2020 acs  1127724  2020010000435    69  2020011277241
4      2020  2020 acs  1127731  2020010000643     8  2020011277311
...     ...       ...      ...            ...   ...            ...
18135  2020  2020 acs  1156307  2020001135722    84  2020011563071
18136  2020  2020 acs  1156307  2020001135722    84  2020011563071
18137  2020  2020 acs  1156307  2020001135722    84  2020011563071
18138  2020  2020 acs  1156307  2020001135722    84  2020011563071
18139  2020  2020 acs  1156307  2020001135722    84  2020011563071

         statefip  countyfip  \
0      washington         33
1      washington         33
2      washington         33
3      washington         33
4      washington         33
...           ...        ...
18135  washington         33
18136  washington         33
18137  washington         33
18138  washington         33
18139  washington         33

                                                   metro   strata  \
0        in metropolitan area: in central/principal city  1160253
1      in metropolitan area: central/principal city s...  1160853
2        in metropolitan area: in central/principal city  1160253
3      in metropolitan area: central/principal city s...  1161353
4      in metropolitan area: not in central/principal...  1160653
...                                                  ...      ...
18135  in metropolitan area: central/principal city s...  1160953
18136  in metropolitan area: central/principal city s...  1160953
18137  in metropolitan area: central/principal city s...  1160953
18138  in metropolitan area: central/principal city s...  1160953
18139  in metropolitan area: central/principal city s...  1160953

                                     gq                      ownershp  \
0          group quarters--institutions                           NaN
1          group quarters--institutions                           NaN
2                  other group quarters                           NaN
3          group quarters--institutions                           NaN
4                  other group quarters                           NaN
...                                 ...                           ...
18135  households under 1970 definition  owned or being bought (loan)
18136  households under 1970 definition  owned or being bought (loan)
18137  households under 1970 definition  owned or being bought (loan)
18138  households under 1970 definition  owned or being bought (loan)
18139  households under 1970 definition  owned or being bought (loan)

       costgas  hhincome  costelec
0            0   9999999         0
1            0   9999999         0
2            0   9999999         0
3            0   9999999         0
4            0   9999999         0
...        ...       ...       ...
18135     9992    441900      3120
18136     9992    441900      3120
18137     9992    441900      3120
18138     9992    441900      3120
18139     9992    441900      3120

[18140 rows x 15 columns]

In [9]:
DFexcel1['hhincome'].replace('9999999','None', inplace=True)

In [10]:
DFexcel2['hhincome'].replace('9999999','None', inplace=True)

In [11]:
DFexcel3['hhincome'].replace('9999999','None', inplace=True)

In [64]:
DFexcel1.at[1,"hhincome"]= "NaN"

pandas.core.series.Series

In [16]:
DFconcat = pd.concat([DFexcel1, DFexcel3, DFexcel3])
DFconcat

,year,sample,serial,cbserial,hhwt,cluster,statefip,countyfip,metro,strata,gq,ownershp,costgas,hhincome,costelec
0,2020,2020 acs,1127717,2020010000037,13,2020011277171,washington,33,in metropolitan area: in central/principal city,1160253,group quarters--institutions,NaN,0,9999999,0
1,2020,2020 acs,1127719,2020010000124,6,2020011277191,washington,33,in metropolitan area: central/principal city s...,1160853,group quarters--institutions,NaN,0,9999999,0
2,2020,2020 acs,1127721,2020010000206,45,2020011277211,washington,33,in metropolitan area: in central/principal city,1160253,other group quarters,NaN,0,9999999,0
3,2020,2020 acs,1127724,2020010000435,69,2020011277241,washington,33,in metropolitan area: central/principal city s...,1161353,group quarters--institutions,NaN,0,9999999,0
4,2020,2020 acs,1127731,2020010000643,8,2020011277311,washington,33,in metropolitan area: not in central/principal...,1160653,other group quarters,NaN,0,9999999,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21501,2021,NaN,1402566,2021001415405,68,2021014025661,washington,33,in metropolitan area: not in central/principal...,1161253,NaN,owned or being bought (loan),1560,196000,1560
21502,2021,NaN,1402567,2021001415463,82,2021014025671,washington,33,in metropolitan area: central/principal city s...,1161053,NaN,owned or being bought (loan),9992,93000,1680
21503,2021,NaN,1402571,2021001415649,63,2021014025711,washington,33,in metropolitan area: central/principal city s...,1161453,NaN,owned or being bought (loan),600,201800,2400
21504,2021,NaN,1402571,2021001415649,63,2021014025711,washington,33,in metropolitan area: central/principal city s...,1161453,NaN,owned or being bought (loan),600,201800,2400
21505,2021,NaN,1402571,2021001415649,63,2021014025711,washington,33,in metropolitan area: central/principal city s...,1161453,NaN,owned or being bought (loan),600,201800,2400

In [22]:
gitCloudRepo='https://github.com/PUBPOL-542/D1/raw/main/'
fileName="king3y.xlsx"

DFexcel4=pd.read_excel(gitCloudRepo + fileName)

DFexcel4

,year,sample,serial,ownershp,costwatr,costfuel,poverty
0,2019,2019 acs,1355968,NaN,0,0,0
1,2019,2019 acs,1355969,NaN,0,0,37
2,2019,2019 acs,1355971,NaN,0,0,0
3,2019,2019 acs,1355977,NaN,0,0,0
4,2019,2019 acs,1355978,NaN,0,0,45
...,...,...,...,...,...,...,...
60408,2021,2021 acs,1402566,owned or being bought (loan),280,9993,501
60409,2021,2021 acs,1402567,owned or being bought (loan),1400,9993,501
60410,2021,2021 acs,1402571,owned or being bought (loan),1400,9993,501
60411,2021,2021 acs,1402571,owned or being bought (loan),1400,9993,501
60412,2021,2021 acs,1402571,owned or being bought (loan),1400,9993,501

In [23]:
bye=[1,3]
DFexcel4.drop(columns=DFexcel4.columns[bye],inplace=True)
DFexcel4

       year   serial  costwatr  costfuel  poverty
0      2019  1355968         0         0        0
1      2019  1355969         0         0       37
2      2019  1355971         0         0        0
3      2019  1355977         0         0        0
4      2019  1355978         0         0       45
...     ...      ...       ...       ...      ...
60408  2021  1402566       280      9993      501
60409  2021  1402567      1400      9993      501
60410  2021  1402571      1400      9993      501
60411  2021  1402571      1400      9993      501
60412  2021  1402571      1400      9993      501

[60413 rows x 5 columns]

In [29]:
result = pd.merge(DFconcat, DFexcel4, on="serial")
result.head()

,year_x,sample,serial,cbserial,hhwt,cluster,statefip,countyfip,metro,strata,gq,ownershp,costgas,hhincome,costelec,year_y,costwatr,costfuel,poverty
0,2020,2020 acs,1127717,2020010000037,13,2020011277171,washington,33,in metropolitan area: in central/principal city,1160253,group quarters--institutions,NaN,0,9999999,0,2020,0,0,0
1,2020,2020 acs,1127719,2020010000124,6,2020011277191,washington,33,in metropolitan area: central/principal city s...,1160853,group quarters--institutions,NaN,0,9999999,0,2020,0,0,0
2,2020,2020 acs,1127721,2020010000206,45,2020011277211,washington,33,in metropolitan area: in central/principal city,1160253,other group quarters,NaN,0,9999999,0,2020,0,0,0
3,2020,2020 acs,1127724,2020010000435,69,2020011277241,washington,33,in metropolitan area: central/principal city s...,1161353,group quarters--institutions,NaN,0,9999999,0,2020,0,0,0
4,2020,2020 acs,1127731,2020010000643,8,2020011277311,washington,33,in metropolitan area: not in central/principal...,1160653,other group quarters,NaN,0,9999999,0,2020,0,0,0

In [30]:
result.to_csv('king.csv')